* { box-sizing: border-box; }

html {
    background-image: url(/background.png);
    background-repeat: repeat;
    color: #222;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 960px;
    padding: 40px;
    width: 100%;
}

section {
    background-color: white;
    border: 1px solid #c8c8c8;
    border-bottom-width: 2px;
    border-radius: 2px;
    float: left;
    height: 500px;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: calc(50% - 20px);
}

section ~ section {
    border-color: #d8d8d8;
    height: 230px;
    margin-left: 40px;
}

    h1,
    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: normal;
        margin: 0 0 11px;
    }

    figure {
        background-image: url(/AnselSantosa.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        bottom: 1px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        height: 330px;
        left: 1px;
        margin: 0;
        position: absolute;
        width: calc(100% - 2px);
    }

    ul {
        margin: 0 -19px;
        padding-left: 0;
    }

        li {
            list-style: none;
            position: relative;
        }

            a {
                color: #222;
                display: block;
                line-height: 30px;
                padding-left: 50px;
                text-decoration: none;
                -webkit-transition: background .15s;
                   -moz-transition: background .15s;
                    -ms-transition: background .15s;
                     -o-transition: background .15s;
                        transition: background .15s;
            }

                i.fa-li {
                    color: #999;
                    font-size: 14px;
                    left: 12px;
                    top: 8px;
                    -webkit-transition: color .15s;
                       -moz-transition: color .15s;
                        -ms-transition: color .15s;
                         -o-transition: color .15s;
                            transition: color .15s;
                }

            a:hover {
                background: rgba(0, 0, 0, .07);
                color: black;
            }

            a:hover .fa-male            { color: #1565C0; }
            a:hover .fa-code-fork       { color: #EF6C00; }
            a:hover .fa-graduation-cap  { color: #424242; }
            a:hover .fa-heart           { color: #D14836; }
            a:hover .fa-gamepad         { color: #B3C833; }

            a:hover .fa-github-alt      { color: #D84315; }
            a:hover .fa-key             { color: #F9A825; }
            a:hover .fa-envelope        { color: #424242; }
            a:hover .fa-twitter         { color: #55ACEE; }
            a:hover .fa-facebook-square { color: #4E69A2; }

@media only screen and (max-width: 760px) {
    body {
        padding: 5px 0 10px;
    }

    section,
    section ~ section {
        margin: 5px 10px;
        width: calc(100% - 20px);
    }
}
